@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:after,
:before {
    box-sizing: border-box;
    margin: 0;
}

html {
    user-select: none;
}

body {
    font-family: 'Fugaz One',
        cursive;
    font-family: 'Open Sans',
        sans-serif;
    overflow: hidden;
    position: relative;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);
    background-repeat: no-repeat;
    height: 100vh;
}